.scene-drwaing {
  width: 100vw;
  background-color: rgb(5, 5, 5);
}

.dialog-drwaing-container {
  position: absolute;
  top: 0;
  width: calc(100% - 100vh - 10vw);
  height: calc(100% - 20vh);
  margin-left: 100vh;
  padding: 10vh 5vw;

  h1 {
    margin: 0;
    font-size: 48px;
    color: #fff;
  }

  p {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.3);
  }

  .dialog-drwaing-bt {
    display: inline-block;
    position: absolute;
    padding: 15px 30px;
    bottom: 10vh;
    right: 5vw;
    background-color: #E5E5E5;
    cursor: pointer;

    span {
      font-size: 32px;
      color: #000;
    }
  }

  .dialog-drwaing-bt:hover {

  }
}
